/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wholesomecode-wholesome-examples {
	background-color: #000000;
	color: #ffffff;
	padding: 2px;
}
